/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /*Above is the CSS reset taken from an online source*/

  body {
    background-color: #ECE8E8;
  }
  
  .container {
      width: 800px;
}

  /* .title-container {
      width: 890px;
  } */

  #graphic {
      padding-top: 60px;
  }

  #sections {
      position: relative;
      display: inline-block;
      width: 100%;
      top: 0px;
      z-index: 90;
      padding-bottom: 200px;
      margin-right: 40px;
      margin-left: 150px;
  }

  .step {
      margin-bottom: 200px;
      font-family:"Lekton", sans-serif;
      font-size: 18px;
      /* font-weight: bold; */
      line-height: 1.3;
      color: #363D4F;
  }

  .subtitle {
    font-size: 40px;
    font-family:"Molengo", sans-serif;
    line-height: 30px;
    color: #363D4F;
  }

  #sections .title{
      font-family: "Molengo", sans-serif;
      font-size: 40px;
      margin-bottom: 2px;
      line-height: 1.2em;
      color:  #363D4F;
  }

  #extra-space {
      height: 300px;
  }

  /* #free-space {
    height: 100vw;
} */

  #vis {
      display: inline-block;
      position: fixed;
      top: 60px;
      z-index: 1;
      margin-left: 150px;
      margin-top: 20px;
      margin-bottom: 20px;
      height: 650px;
      width: 650px;
      right:0;
      /* border-style: dashed;
      border-width: 4px;
      border-color: black; */
  }

  /* #svgTitle{
    display: inline-block;
    position: fixed;
  } */

  #vis .title {
     font-size: 120px;
     text-anchor: middle; 
  }

  .VizTitle {
    font-family: "Molengo", sans-serif;
    color: #363D4F;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
    text-anchor: middle;
    text-align: center;

  }

  #sections blockquote {
    padding-top: 150px;
    display: inline-block;
    position: static;
    top: 60px;
    /* z-index: 1; */
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  blockquote:after {
    display: inline-block;
    font-family: "Molengo", sans-serif;
    background: #363D4F;
    width: 130px;
    height:130px;
    border-radius: 50%;
    content: '\275D';
    position: static;
    font-size: 100px;
    line-height: 130px;
    text-align: center;
    top: 20px;
    left: 50%;
    margin-left: -400px;
    color:rgba(15,87,226);
    text-shadow: 0 1px 1px rgba(255,255,255,0.1);
  }

  blockquote:before{
    display: inline-block;
    position: fixed;
    content: '';
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border-left: 5px solid rgba(15,87,226);
    position: static;
    top: 20px;
    left: 30px;
    z-index: -1;
  }

  /* #sections blockquote {
    padding-top: 150px;
    display: inline-block;
    position: fixed;
    top: 60px; */
    /* z-index: 1; */
    /* margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  } */

  /* blockquote:after {
    display: inline-block;
    font-family: "Source Code Pro", monospace;
    background: #363D4F;
    width: 130px;
    height:130px;
    border-radius: 50%;
    content: '\275D'; */
    /* position: fixed; */
    /* font-size: 100px;
    line-height: 130px;
    text-align: center;
    top: 100px;
    left: 50%;
    margin-left: -450px;
    color:rgba(15,87,226);
    text-shadow: 0 1px 1px rgba(255,255,255,0.1);
  } */

  /* blockquote:before{
    display: inline-block; */
    /* position: fixed; */
    /* content: '';
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border-left: 5px solid rgba(15,87,226); */
    /* position: absolute; */
    /* top: 100px;
    left: 30px;
    z-index: -1;
  } */

  /* .quote:before{
    background: #0f57e2;
    opacity: 0.7;
    z-index: -1;
  } */
  .quote{
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    color: #363D4F;
    text-shadow: 0 1px 1px #363D4F;
    line-height: 1.3;
    box-shadow: 0 -6px 0 rgba(15,87,226);
    align-content: center;
    margin-top: 40px;
  }

  .MainTitle .stationed {
    height: 50px;
    float: left;
    margin-right: 0.3em;
    font-family: "Molengo", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
  }
  .MainTitle .moving {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    /* text-align: center; */
    margin-top: 60px;
    margin-right: 60px;
  }
  span {
    font-family: "Molengo", sans-serif;
    font-size: 40px;
    display: inline-block;
    color: rgba(15,87,226);
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    animation: move 5s;
    animation-iteration-count: once; 
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes move {
  0%  { top: 0px; }
  80% { top: -50px; }
  80% { top: -100px; }
  85% { top: -150px; }
  }

  .subMtitle {
    font-family: "Molengo", sans-serif;
     font-size: 25px;
     opacity: 0;
     animation: fadeIn 3s;
     animation-delay: 7s;
     animation-fill-mode: forwards;
     margin-top: 100px;
  } 

@keyframes fadeIn {
  from {Opacity: 0; }
  to {Opacity: 1;}
}


  /* .step img {
    height: 660;
    width: 400;
    margin-bottom: 200px;
  } */

  #button1 {
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }

  button1:hover{
    background:#fff;
    color:#1AAB8A;
  }

  button1:before,button1:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }

  button1:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }

  button1:hover:before,button1:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  #button2 {
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  }

  button2:hover{
    background:#fff;
    color:#1AAB8A;
  }

  button2:before,button2:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }

  button2:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }

  button2:hover:before,button2:hover:after{
    width:100%;
    transition:800ms ease all;
  }